body {
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align:left;
    line-height: 1.5;
    background: url(/images/global/background-sea-short.jpg) repeat-x, #fdfaf2;   /* топ картинка */
}
* {
    margin: 0;
    padding: 0;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
a {
    text-decoration: none;
    color: black;
}
p {
    text-align: left;
    padding: 15px 0;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
    height: inherit;
}
/*  --------------------- шрифты ------------------------  */
h1 {
    color: #6A8E11;
    text-align: left;
    font-weight: normal;
}
h2 {
    line-height: 1.2;
    font-weight: normal;
    height: 30px;
}
h3 {
    font-weight: normal;
    color: #51c9c8;
}
.long_header2 {
    height: 50px;
}
.long_header3 {
    height: 90px;
}

/*   -------------- шрифты end------------------  */
.hideme{
    display: none;
}

.logo{
    text-align: center;
}
#logo {
    position: relative; 
    width:740px;
    left:50%; 
    margin-left:-370px;
    margin-top:60px;
}

/* --------------menu--------------- */
.menuBlock li {
    display: inline-block;
    height: 20px;
    margin: 10px 0;
}
.menuBlock li a, .menuBlock div a {
    color: inherit;

    padding: 5px;
}

.menuBlock {
    text-align: center;
}
.countryMenu{
    margin-top: 17px;
}
#countryMenuActive{
    background: #f1829c;
    border-radius: 5px;
    padding: 10px;
}

.subMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
}

.subMenu div{
    text-align:center;
    color: #fff;
    padding: 10px 30px;
    margin: 5px 5px;
    border-radius: 5px;
    font-weight: bold;
    border-left: none;
    min-width: 200px;
}
.subMenu div:nth-child(1) {

    background: #5ad2a9;
}
.subMenu div:nth-child(2) {

    background: #91cc9d;
}
.subMenu div:nth-child(3) {

    background: #a5c929;
}
.menuBlock{
    display: block;
    width: 100%;
}

#selectMenu{
    text-decoration: none;
    background:  #f1829c; 
    border-radius: 5px; 
    color: black; 
    padding: 10px 10px;
}
#unSelectMenu{
    text-decoration: none;

    color: black; 
    padding: 10px 10px;
}

#subMenu{
    position:relative;
    display: block; 
    text-align: center;
    width:980px;
    left:50%; 
    margin-left:-490px;
}

#subMenuButton1{
    position:relative; 
    height:24px;
    float:left;
    text-align:center; 
    color: #fff;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    font-weight: bold;
    border-left: none;
    background: #a5c929;
    width: 26%;
}
#subMenuButton2 {
    position:relative; 
    height:24px;
    float:left;
    text-align:center; 
    color: #fff;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    font-weight: bold;
    background: #91cc9d;
    width: 29%;
    margin: 0px 0.5% 0px 0.5%; 
}

#subMenuButton3 {
    position:relative; 
    height:24px;
    float:left;
    text-align:center; 
    color: #fff;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    font-weight: bold;
    background: #5ad2a9;
    width: 17%;
    margin: 0px 0.5% 0px 0px;
}
#subMenuButton4 {
    position:relative; 
    height:24px;
    float:left;
    text-align:center; 
    color: #fff;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    font-weight: bold;
    background: #51c9c8;
    width: 26%;
}

/* --------------main content--------------- */
.excursionsTwoList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}
.excursionsListItemBox{ 
    display: flex;

    flex-direction: column;  
    margin: 1%;
    width: 48%;
    min-width: 320px;
}
/* podrobno button */
.buttonAndImage{
    margin-top:auto;
}
.button_podrobno {
    width: 100%;
    font-style: italic;
    text-align:center;
    color: #fdfaf2;
    bottom: 0px;

}
.button_podrobno_price {
    background:  #a5c929;
    color: white;
    padding-right: 10%;
    width: 55%;
    background-repeat: no-repeat;
    background-image: url( /images/global/button-arrow-300px.gif);
    background-position: right center;
}
.button_podrobno_price_inner {
    width: 100%;
    font-style: italic;
    text-align:center;
    color: white;
}
.button_podrobno_podrobno_inner {
    background: #f1829c;
    width: 45%;
    text-decoration: underline;
}
/* end podrobno button */
table { 
    border: 0px; 						/* Рамка вокруг таблицы */
    border-collapse: collapse; 	/* Отображать только одинарные линии */
    padding: 0px;
    border-spacing: 0px;
}

#contentBlock{
    margin-top: 20px;
    margin-left:-390px; 
    width: 980px;
    left: 50%;
    position: relative;
}

#content_Block{
    padding-top: 17px;  
}
.img_conteiner {
    width: 100%;
    float: none;
    padding-top: 10px;
}
.img_content_l {
    float: left;
    width: 49%;
}
.img_content_r {
    float: left;
    width: 49%;
    margin-left: 2%;
}



#imgHeaderArticles{
    float: left;
    padding: 3px 0px;
}

#descriptionHeaderArticles {
    overflow: hidden;
    padding-left: 20px;
}

#button_back {
    position:relative; 
    height: 25px;
    margin: 10px 0px 30px 0px; 
    padding: 10px;
    border-radius: 5px;
    text-align:center; 
    color: #ffffff;
    background: #51c9c8;
    font-family: arial;
    display: inline-block;
    font-weight: bold;   
}


#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #51c9c8;
    color: #fff;

}
